name: 'domo_django_deploy'

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    name: Run Django Deploy
    runs-on: ubuntu-latest

    steps:
      - name: executing remote ssh commands
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          password: ${{ secrets.REMOTE_PASSWORD }}
          port: ${{ secrets.REMOTE_SSH_PORT }}
          script: |
            cd CG-sc23-Backend
            poetry run domo/manage.py makemigrations
            poetry run domo/manage.py migrate
            poetry run domo/manage.py collectstatic --noinput
            killall uwsgi
            poetry run uwsgi --ini domo/uwsgi.ini &